doctype 
html
    head
        title Empty Page
    body
        p
            | asdf
            | wqeprtjl
            | lknlnlasndfg
        #asdf  asdfljasf
        .qwer  asdl;jafp
        a(href="http://www.google.com") Google