doctype
html
    head
        title trying scripts in jade
        script(src="/scripts/utils.js")
        link(href="/styles/common.css")
    body
        script
            dialog('Wassup')
            alert('I can also write it right here')
        div
          | asdfasdf
          - if('a'=='b'){
            p if
          -}else{
            p else
          -}
          
        .asdf Why arent we just using JADE for everything it is awesome.  
                
                
    